%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{ href: root_path } TaskBucket
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{ href: tasks_path } DashBoard
      %li.nav-item
        %a.nav-link{ href: projects_path } Projects
      %li.nav-item
        %a.nav-link{ href: routines_path } Routines
      %li.nav-item
        %a.nav-link{ href: daily_reports_path } Daily Report
      - if user_signed_in?
        %li.nav-item
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
