%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{ href: root_path } TaskBucket
  %button.navbar-toggler{ 'aria-controls': 'navbar-supported-content', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation',
    'data-target': '#navbar-supported-content', 'data-toggle': 'collapse', type: 'button' }
    %span.navbar-toggler-icon
  #navbar-supported-content.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{ href: tasks_path } DashBoard
      %li.nav-item
        %a.nav-link{ href: daily_reports_path } Daily Report
      %li.nav-item
        %a.nav-link{ href: weekly_reports_path } Weekly Report
      %li.nav-item
        %a.nav-link{ href: not_completed_tasks_path } 未完了タスク
      %li.nav-item.dropdown
        %a#navbar-dropdown-menu-link.nav-link.dropdown-toggle{ 'aria-expanded': 'false', 'aria-haspopup': 'true',
          'data-toggle': 'dropdown', href: '#', role: 'button' } MANAGE
        .dropdown-menu{ 'aria-labelledby': 'navbar-dropdown-menu-link' }
          = link_to 'Projects', projects_path, class: 'dropdown-item'
          = link_to 'Routines', routines_path, class: 'dropdown-item'
      %li.nav-item.dropdown
        %a#navbar-dropdown-menu-link.nav-link.dropdown-toggle{ 'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown',
          href: '#', role: 'button' }= icon('fas', 'flask')
        .dropdown-menu{ 'aria-labelledby': 'navbar-dropdown-menu-link' }
          %a.dropdown-item{ href: dashboard_path } vue
      - if user_signed_in?
        %li.nav-item
          = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
